= form_with model: Message.new,
            class: 'channel-message-form',
            data: { controller: 'message-form' } do |form|
  = form.text_area :text,
                   id: nil,
                   class: 'channel-message-form-textarea',
                   placeholder: 'Scrivi un messaggio. Premi "Invio" per inviarlo, o "Shift+Invio" per andare a capo.'
