@import normalize.css/normalize.css

$channel-message-form-height: 3em

=clearfix
  &::after
    display: table
    clear: both
    content: ' '

*
  box-sizing: border-box

.channel
  display: flex
  flex-direction: column
  height: 100vh

.channel-messages
  display: flex
  flex-direction: column
  height: calc(100% - #{$channel-message-form-height})
  overflow-y: auto

.channel-message
  &:first-child
    margin-top: auto

.channel-message-header
  +clearfix

.channel-message-author-ip
  float: left
  font-weight: bold

.channel-message-actions
  float: right

.channel-message-form
  align-self: flex-end
  width: 100%
  height: $channel-message-form-height
  // overflow-y: auto

.channel-message-form-textarea
  height: 100%
  resize: none
  width: 100%
