@import normalize.css/normalize.css

$channel-message-form-height: 50px
$textarea-border-width: 1px !default
$textarea-padding: 2px !default

=clearfix
  &::after
    clear: both
    content: ' '
    display: table

// Fixes textarea size bug on Chrome when textarea's height is 100%: content-box property is ignored causing textarea to
// overflow container's height
=textarea-100-percent-height($padding: $textarea-padding, $border-width: $textarea-border-width)
  border-width: $border-width
  height: calc(100% - #{$border-width+$padding})
  padding: $padding


*
  box-sizing: border-box

.channel
  display: flex
  flex-direction: column
  height: 100vh

.channel-messages
  display: flex
  flex-direction: column
  height: calc(100% - #{$channel-message-form-height})
  overflow-y: auto

.channel-message
  &:first-child
    margin-top: auto

.channel-message-header
  +clearfix

.channel-message-author-ip
  float: left
  font-weight: bold

.channel-message-actions
  float: right

.channel-message-form
  align-self: flex-end
  height: $channel-message-form-height
  width: 100%

.channel-message-form-textarea
  +textarea-100-percent-height
  resize: none
  width: 100%
