@import normalize.css/normalize.css

=clearfix
  &::after
    display: table
    clear: both
    content: ' '

.channel
  display: flex
  flex-direction: column
  height: 100vh

.channel-messages
  display: flex
  flex-direction: column
  height: 100%
  overflow-y: auto

.channel-message
  &:first-child
    margin-top: auto

.channel-message-header
  +clearfix

.channel-message-author-ip
  float: left
  font-weight: bold

.channel-message-actions
  float: right

.channel-message-form
  align-self: flex-end
  width: 100%

.channel-message-form-textarea
  box-sizing: border-box
  width: 100%
