@import './shared/all'

$text-color: #2C2D30
$link-color: #0576B9

.client
  color: $text-color
  display: flex

  a
    &:link,
    &:visited
      color: $link-color
      text-decoration: none

    &:hover
      text-decoration: underline

@import './client/sidebar'
@import './client/channel'
