- message = Channel::Message.new(channel: @channel)

= form_with model: message,
            url: channel_messages_path(@channel, message),
            class: 'channel-message-form',
            data: { controller: 'client--channel--message-form' } do |form|
  = form.text_area :text,
                   class: 'channel-message-form-textarea',
                   placeholder: 'Jot something down'
